<div class="col l2 m2"></div>

<div class="col l8 m8">
  <%= render file: "/general/_flash_notice" %>
  <h3 class="yellow-title">Login</h3>

  <%= form_tag "/login" do %>

  <%= label_tag "user[email]", "email"  %>
  <%= text_field_tag "user[email]" %><br>

  <%= label_tag "user[password]", "password" %>
  <%= password_field_tag "user[password]" %>

  <%= button_tag "login", :class => "amber lighten-1 white-text btn" %>

  <% end %>
  <h5>Need an account?</h5>
  <p>Email SKCDC's Information Systems Manager: <%= mail_to "#{@admin.email}", "#{@admin.email}", subject: "Request Login Credentials for SKCDC", body: "Hello #{@admin.first_name}, I would like to request login credentials for SKCDC's website." %>.</p>
</div>
<div class="col l2 m2"></div>
