<div id="left-col" class="col l4">
  <h5>Need an accout?</h5>
  <p>Email SKCDC's Information Systems Manager: <%= mail_to "rachel.salois@gmail.com", "#{@admin.email}", subject: "Request Login Credentials for SKCDC", body: "Hello #{@admin.first_name}, I would like to request login credentials for SKCDC's website." %>. Please provide your SKCDC email address.</p>
</div>

<div id="right-col" class="col l6">
  <h3>Login</h3>

<%= form_tag "/login" do %>

  <%= label_tag "user[email]", "email"  %>
  <%= text_field_tag "user[email]" %><br>

  <%= label_tag "user[password]", "password" %>
  <%= password_field_tag "user[password]" %><br></br>

  <%= button_tag "login" %><br></br>

  <% end %>
</div>
