<h5><%= @classroom.name %></h5>
<%= form_for @classroom do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.label :street_address %>
  <%= f.text_field :street_address %>

  <%= f.label :town %>
  <%= f.text_field :town %>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <!-- <%= f.label :latitude %>
  <%= f.text_field :latitude %>

  <%= f.label :longitude %>
  <%= f.text_field :longitude %> -->

  <!-- <%= f.label :location %>
  <%= f.text_field :location %> -->

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :google_address %>
  <%= f.text_field :google_address %>

  <% if @programs %>
    <%= f.label :programs %>

    <% @programs.each do |program| %>
      <p> <%= check_box_tag 'classroom[program_ids][]', program.id,
      @classroom.programs.include?(program), :id => dom_id(program) %>
      <%= label_tag dom_id(program), program.title, :class => "check_box_label" %>
    <% end %><br></br>
<% end %>

  <%= f.submit %>
<% end %>
