<h5><%= @classroom.name %></h5>
<%= form_for @classroom do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :image_url %>
  <%= f.text_field :image_url %>

  <%= f.label :street_address %>
  <%= f.text_field :street_address %>

  <%= f.label :town %>
  <%= f.text_field :town %>

  <%= f.label :zipcode %>
  <%= f.text_field :zipcode %>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <%= f.label :phone %>
  <%= f.text_field :phone %>

  <%= f.label :google_address %>
  <%= f.text_field :google_address %>

  <% if @programs %>
    <%= f.label :programs %><br>
      <%= f.collection_check_boxes(:program_ids, @programs, :id, :title) do |b| %>
        <div> <%= b.check_box %><%= b.label { b.text } %></div>
      <% end %>
  <% end %><br>

  <%= f.submit 'submit', :class => "waves-effect waves-light amber lighten-1 white-text btn" %><br></br>
<% end %>
