<div id="left-col" class="col l4 m4 s12">
  <div class="row center-align">
    <%= render partial: "general/main_office" %>
  </div>
    <%= render partial: "/general/blog_sidebar" %>
</div>

<div id="right-col" class="col l6 m6 s12">
  <h3 class="center-align yellow-title">Our Centers</h3>
  <div class="row">
    <% if @classrooms.any? %>
    <div class="collection">
      <% @classrooms.each do |classroom| %>
      <a href="<%= classroom_path(classroom) %>" class="collection-item center-align">
        <div class="emphasize-text"><%= classroom.name %></div>
        <span class="demphasize-text"><%= classroom.town %>, Maine</span>
      </a>
      <% end %>
    </div>
  <% else %>
    <p>Sorry, no centers to show.</p>
    <% end %>
  </div>
</div>
