<div class="col l1 m1"></div>

<div class="col l10 m10">

  <h3 class="yellow-title"><%= @classroom.name %></h3>

  <div class="row">
    <div class="col l4 m4 s6">
      <div><%= @classroom.street_address%></div>
      <div><%= @classroom.town %>, Maine <%= @classroom.zipcode %></div>
      <div><%= @classroom.phone %></div>
      <div><%= link_to 'google map', @map_url, target: :_blank %></div>
    </div>
    <div class="col l8 m8 s6">
      <% if @classroom.programs.present?  %>
      <div id="programs-title">Programs</div>
        <% @classroom.programs.each do |program| %>
        <div><%= link_to "#{program.title}", program %></div>
        <% end %>
      <% end %>
    </div>
  </div>

  <% if @classroom.image.url != "/images/original/missing.png" %>
    <div><%= image_tag(@classroom.image.url(:small)) %></div>
  <% end %>


  <div class="flow-text"><%= sanitize @classroom.description%></div><br>
  <a target="_" class="btn" href="https://www.childplus.net/apply/en-us/017F68AD81794F169ADE0ADB6A45176C/ACEF2899299E7C53224719C17012D582">apply</a>
  <p class="back-link"><%= link_to "â— return to all centers", classrooms_path %></p>
</div>


<div class="col l1 m1"></div>
