<div id="left-col" class="col l4 m4">
  <%= render file: "/general/_logo" %>
  <h5><%= @classroom.name %></h5>
  <div><%= @classroom.street_address %></div>
  <div><%= @classroom.town %>, Maine</div>
  <div><%= @classroom.zipcode %></div>
  <div><%= @classroom.phone %></div>
  <div><%= link_to 'google map', @map_url, target: :_blank %></div>

  <% if @classroom.programs.present?  %>
  <h5>
    <%= "Programs offered:" %></h5>
  <% end %>
  <ul>
    <% @classroom.programs.each do |program| %>
    <li><%= link_to "#{program.title}", program %></li>
    <% end %>
  </ul>
  <a class="amber lighten-1 white-text btn">apply</a>
</div>

<div id="right-col" class="col l7 m7">
  <h3 class="center-align yellow-title"><%= @classroom.name %></h3>

  <% if @classroom.image.url != "/images/original/missing.png" %>
    <div class="center-align"><%= image_tag(@classroom.image.url(:small), class: "small-image") %></div>
  <% end %>
  <div class="center-align">
    <p><%= sanitize @classroom.description %></p>
    <p><%= link_to "â— return to all classrooms", classrooms_path %></p>
  </div>

</div>
