<div class="col l1 m1"></div>

<div class="col l10 m10">

  <h3 class="yellow-title"><%= @classroom.name %></h3>

  <div class="row">
    <div class="col l6 m6 s12">
    <% if @classroom.image.url != "/images/original/missing.png" %>
      <div><%= image_tag(@classroom.image.url(:small)) %></div>
    <% end %>
    </div>
    <div class="col l6 m6 s12">
      <div class="demphasize-text"><%= @classroom.street_address%></div>
      <div class="demphasize-text" ><%= @classroom.town %>, Maine <%= @classroom.zipcode %></div>
      <div class="demphasize-text"><%= @classroom.phone %></div>
      <div><%= link_to 'google map', @map_url, target: :_blank %></div>
      <% if @classroom.programs.present?  %>
      <h5>Programs</h5>
      <ul>
        <% @classroom.programs.each do |program| %>
        <li><%= link_to "#{program.title}", program %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  </div>
  <h5>Description</h5>
  <div class="flow-text"><%= sanitize @classroom.description%></div>
  <a class="btn">apply</a>
  <p><%= link_to "â— return to all centers", classrooms_path %></p>
</div>


<div class="col l1 m1"></div>
