<div id="left-col" class="col l4">
  <h5>Admin Account</h5>

</div>

<div id="right-col" class='col l6'>
  <h5>Update to <%= @classroom.name %>'s Programs</h5>

  <%= form_tag '/program_classrooms/:id' do %>

<% @programs.each do |program| %>
  <p> <%= check_box_tag 'classroom[program_ids][]', program.id,
  @classroom.programs.include?(program), :id => dom_id(program) %>
  <%= label_tag dom_id(program), program.title, :class => "check_box_label" %>
<% end %>

<%= button_tag "Submit" %>


<% end %>

</div>
