
<div id="left-col" class="col l4 m4">
  <div class="center-align">
    <p><%= link_to "â— return to all programs", programs_path %></p>

    <% if @program.classrooms.present?  %>
      <h5><%= "Classrooms offering this program:" %></h5>
    <% end %>

    <ul>
    <% @program.classrooms.each do |classroom| %>
      <li> <%= link_to "#{classroom.name}", classroom %></li>
      <% end %>
    </ul>
  </div>


</div>

<div id="right-col" class="col l8 m8 center-align">
  <h3 class="yellow-title"><%= @program.title %></h3>

  <p><%= sanitize @program.description %></p>


</div>
