<div  id="left-col" class="col l4">
  <p>Welcome to the SKCDC admin dashboard. </p>
  <p>Any changes made here will appear on the live SKCDC web site.</p>
  <%= render file: "/general/_flash_notice" %>

</div>
<div id="right-col" class="col l1"></div>
<div class="col l4">
  <h4>Admin Dashboard</h4>
  <ul class="collection">
    <li class="collection-item"><%= link_to "Classrooms", '/classrooms/admin' %></li>
    <li class="collection-item"><%= link_to "Programs", '/programs/admin' %></li>
    <li class="collection-item"><%= link_to "Collaborations", '/collaborations/admin'%></li>
    <li class="collection-item"><%= link_to "Resources", '/parent_resources/admin' %></li>
    <li class="collection-item"><%= link_to "Contacts", '/contacts/admin'%></li>
    <li class="collection-item"><%= link_to "Updates", '/posts/admin'%></li>
  </ul>
</div>
<div id="right-col" class="col l1"></div>
<div id="right-col" class="col l2">
  <%= render file: '/users/logout'%>
</div>
