<div  id="left-col" class="col l4 m4 s12 center-align">
  <%= render file: '/users/logout'%>
  <hr class="yellow-rule">
  <p>Welcome to the SKCDC admin dashboard. </p>
  <p>Any changes made here will appear on the live SKCDC web site.</p>

  <% if current_user.super%>
    <hr class="yellow-rule">
    <%=  link_to "super admin dashboard", super_admin_path %>
  <% end %>

  <hr class="yellow-rule">
  <%= render file: "/general/_flash_notice" %>
</div>


<div id="right-col" class="col l8 m8 s12 center-align">
  <h4 class="yellow-title">Admin Dashboard</h4>
  <ul class="collection">
    <li class="collection-item"><%= link_to "Centers", '/classrooms/admin' %></li>
    <li class="collection-item"><%= link_to "Programs", '/programs/admin' %></li>
    <li class="collection-item"><%= link_to "Collaborations", '/collaborations/admin'%></li>
    <li class="collection-item"><%= link_to "Resources", '/parent_resources/admin' %></li>
    <li class="collection-item"><%= link_to "Contacts", '/contacts/admin'%></li>
    <li class="collection-item"><%= link_to "Updates", '/posts/admin'%></li>
    <li class="collection-item"><%= link_to "Agency Benefits", '/benefits/admin'%></li>
    <li class="collection-item"><%= link_to "Career Sites", '/career_sites/admin'%></li>
    <li class="collection-item"><%= link_to "Employee Resources", '/employee_resources/admin'%></li>
    <li class="collection-item"><%= link_to "Photo Carousel", "/carousel/admin" %></li>
  </ul>
</div>


</div>
