<footer class="page-footer green lighten-5">
      <div class="row">

          <div class="col l2 m6 hide-on-small-only">
            <ul class="margin-top footer-text">
              <li>Southern Kennebec Child<br>Development Corporation</li>
              <li>337 Maine Avenue</li>
              <li>Farmingdale, ME 04344</li>
            </ul>
          </div>
          <div class="col l2 m6 s6 hide-on-small-only">
            <ul class="margin-top footer-text">
              <li>telephone: 207-582-3110</li>
              <li>toll-free: 800-525-2229</li>
              <li>fax: 207-582-3112</li>
              <li>email: info@skcdc.org</li>
            </ul>
          </div>
          <div class="col l2 m6 s6">
              <div class="margin-top margin-bottom">
                <a href="https://www.facebook.com/MaineSKCDC" target="_blank">
                  <%= image_tag "https://s3.us-east-2.amazonaws.com/skcdc-website-photos/FB-f-Logo__blue_50.png", alt: "Facebook" %>
                  </a>
              </div>
              <div><%= link_to "contact", contacts_path%></div>
              <div><%= link_to "careers", "/careers"%></div>

          </div>
          <div class="col l2 m6 s6 margin-bottom">
              <a href="https://www.paypal.com/donate/?token=Quo-0AyoJ-kUBl7ZooMJfJ_eX5RzYfawQeg6GQTN0EgjG5djxOJ7I43dYz03nJL7Oxggw0&country.x=US&locale.x=US"  target="_blank" class="btn margin-top margin-bottom white-text">Donate</a>
              <div><%= image_tag "https://s3.us-east-2.amazonaws.com/skcdc-website-photos/uw_3s_ful.jpg", alt: "United Way" %></div>
              <div class="footer-text">United Way member agency</div>
          </div>
          <div class="col l4 m12 s12">
            <div class="margin-top">
              <%= image_tag "https://s3.us-east-2.amazonaws.com/skcdc-website-photos/dhhs-logo.png", alt: "DHHS logo" %>
              <%= image_tag "https://s3.us-east-2.amazonaws.com/skcdc-website-photos/mhighwaysafetyemblem.png", class: "footer-logo", alt: "Main Highway Safety" %>
              <p class="footer-text">Partnering with the Bureau of Highway Safety as an authorized Car Seat Distribution Center with Certified Car Seat Technicians</p>
            </div>
          </div>
        </div>
      <div class="footer-copyright dark-background-image">
        <div class="container white-text">
          <div class="row">
            <div class="col l10 m10 s9">© 2017 Southern Kennebec Child Development Corporation</div>
            <div class="col l2 m2 s3"><%= link_to "Employees", '/employees', class: "white-text" %></div>
        </div>
      </div>
    </footer>
