<ul id="dropdown1" class="dropdown-content smaller-text-1">
  <li><%= link_to "About", '/mission' %></li>
  <li><%= link_to "Mission", '/mission' %></li>
  <li><%= link_to "Collaborations", '/collaborations' %></li>
  <li><%= link_to "Contact", contacts_path %></li>
  <li><%= link_to "Careers",  "/careers" %></li>
</ul>

<nav class="background-image z-depth-2 ">
  <div class="row">
    <div class="col l4 m6 s10">
      <div class="hide-on-med-and-up">
        <h1 id="logo-margin"><%= link_to "SKCDC", "/"%></h1>
      </div>
      <div class="hide-on-small-only"><%= render partial: "general/logo" %></div>
    </div>

    <div class="col l8 m6 s2">
      <%= link_to "Apply", "https://www.childplus.net/apply/en-us/017F68AD81794F169ADE0ADB6A45176C/ACEF2899299E7C53224719C17012D582", class: "btn right white-text", id: "apply-margin", target:"_" %>

      <a href="#" data-activates="mobile-demo" class="button-collapse right">
        <i class="material-icons md-60 white-text">menu</i>
      </a>

      <div class="padding-top">
       <ul id="nav-mobile" class="right hide-on-med-and-down white-background">
         <li><a class="dropdown-button black-text" href="#" data-activates="dropdown1">About ▿</a></li>
         <li><%= link_to "Programs", programs_path, class: "black-text" %></li>
         <li><%= link_to "Centers", classrooms_path, class: "black-text" %></li>
         <li><%= link_to "Resources", parent_resources_path, class: "black-text" %></li>
         <li><%= link_to "Updates", posts_path, class: "black-text" %></li>
       </ul>
       <ul class="side-nav" id="mobile-demo">
         <li><%= link_to "Mission", '/mission' %></li>
         <li><%= link_to "Collaborations", '/collaborations' %></li>
         <li><%= link_to "Programs", programs_path %></li>
         <li><%= link_to "Centers", classrooms_path %></li>
         <li><%= link_to "Resources", parent_resources_path %></li>
         <li><%= link_to "Contact Us", contacts_path %></li>
         <li><%= link_to "Careers",  "/careers"%></li>
         <li><%= link_to "Updates", posts_path %></li>
        </ul>
      </div>
      </div>
    </div>
 </nav>
