<ul id="dropdown1" class="dropdown-content">
  <li><%= link_to "Mission", '/mission', class: "light-blue-text lighten-2" %></li>
  <li><%= link_to "Collaborations", '/collaborations', class: "light-blue-text lighten-2" %></li>
  <li><%= link_to "Contact",  contacts_path, class: "light-blue-text lighten-2"%></li>
  <li><%= link_to "Careers",  "/careers", class: "light-blue-text lighten-2"%></li>
</ul>

<div class="row nav-wrapper">
  <nav class="nav-height light-blue lighten-2">

    <div class="col l4 m6 hide-on-small-and-down" id="left-col">
      <a href="/"><h5>Southern Kennebec Child<br>Development Corporation</h5></a>
    </div>

    <div class="col m4"></div>

    <div class="col l8 m2 s4">
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons md-42 white-text">menu</i></a>
       <ul id="nav-mobile" class="right hide-on-med-and-down">
         <li><a class="dropdown-button white-text" href="#" data-activates="dropdown1">About<i class="material-icons right">arrow_drop_down</i></a></li>
         <li><%= link_to "Programs", programs_path, class: "white-text" %></li>
         <li><%= link_to "Classrooms", classrooms_path, class: "white-text" %></li>
         <li><%= link_to "Resources", parent_resources_path, class: "white-text" %></li>
         <li><%= link_to "Apply", "https://www.childplus.net/apply/en-us/017F68AD81794F169ADE0ADB6A45176C/ACEF2899299E7C53224719C17012D582", class: "amber lighten-1 white-text btn" %></li>
       </ul>
       <ul class="side-nav" id="mobile-demo">
         <li><%= link_to "Our Mission", '/mission' %></li>
         <li><%= link_to "Our Collaborations", '/collaborations' %></li>
         <li><%= link_to "Programs", programs_path %></li>
         <li><%= link_to "Classrooms", classrooms_path %></li>
         <li><%= link_to "Resources", parent_resources_path %></li>
         <li><%= link_to "Contact Us", contacts_path%></li>
        </ul>
    </div>
   </nav>
</div>
