<div id="left-col" class="col l4">
  <h5><%= link_to "Admin Account", admin_path %></h5>
  <p><%= link_to "see published parent resource", parent_resource_path(@parent_resource) %></p>
  <%= button_to "delete resource", @parent_resource, :method => :delete, data: {confirm: "Are you sure you want to delete this parent resource?"}, class: "amber lighten-1 white-text btn" %>
</div>


<div id="right-col" class='col l6'>
  <%= render partial: '/general/error_notice' %>
  <h5>Edit Parent Resource</h5>
  <%= render partial: 'form' %>
</div>
