<div id="left-col" class="col l4">
  Does this user no longer work here?<br>
  <%= button_to "delete user", @user, :method => :delete, data: {confirm: "Are you sure you want to delete this user?"}, class: "amber lighten-1 white-text btn" %>

</div>
<div id="right-col" class="col l6">
  <h3>Edit Admin User</h3>
  <%= render partial: '/general/error_notice' %>
<%= form_for(@user) do |f|%>

  <%= f.label :email %>
  <%= f.text_field :email %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <%= f.check_box :super %>
  <%= f.label :super, "super admin" %>
  <br></br>


  <%= f.submit 'submit', :class => "waves-effect waves-light amber lighten-1 white-text btn" %><br></br>

<% end %>
<p><%= link_to "â— return to super admin page", super_admin_path %></p>
</div>
