<div id="left-col" class="col l4">
  <h5>Admin Account</h5>
  <p>Welcome to the SKCDC admin dashboard. </p>
  <p>Any changes made here will appear on the live SKCDC web site.</p>
  <%= render file: '/users/logout'%>
</div>

<div id="right-col" class="col l6">
  <div class="col l6">
    <h5>Update Blog</h5>
      <p>&ensp;new post</p>
    <h5>Edit Contact</h5>
        <% @contact_names.each do |contact| %>
          <p>&ensp;<%= link_to "#{contact[0]} #{contact[1]}", "/contacts/#{contact[3]}/edit" %><br>&emsp; <%= contact[2] %></p>
        <% end %>
        <p><%= link_to "+ new contact", "contacts/new" %></p>

        <h5>Edit Collaboration</h5>
            <% @collaboration_titles.each do |collaboration| %>
              <p>&ensp;<%= link_to "#{collaboration[0]}", "/collaborations/#{collaboration[1]}/edit" %></p>
            <% end %>
            <p><%= link_to "+ new collaboration", "collaborations/new" %></p>


  </div>
  <div class="col l6">
    <h5>Edit Classroom</h5>

        <% @classroom_names.each do |classroom| %>
          <p>&ensp;<%= link_to "#{classroom[0]}", "/classrooms/#{classroom[1]}/edit" %></p>
        <% end %>
          <p><%= link_to "+ new classroom", "classrooms/new" %></p>
    <h5>Edit Program</h5>

        <% @program_names.each do |program| %>
          <p>&ensp;<%= link_to "#{program[0]}", "/programs/#{program[1]}/edit" %></p>
        <% end %>
        <p><%= link_to "+ new program", "programs/new" %></p>

  </div>
</div>
