<%= render partial: "/general/admin_left_sidebar" %>

<div id="right-col" class='col l8 m8 s12'>
  <%= render partial: '/general/flash_notice' %>
  <h3>Create Admin Account </h3>
  <%= form_for(@user) do |f|%>
    <%= f.label :email %>
    <%= f.text_field :email %><br>

    <%= f.label :password %>
    <%= f.password_field :password %><br>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>

    <%= f.check_box :super %>
    <%= f.label :super, "super admin" %>
    <br></br>
    <%= f.submit 'submit', :class => "amber lighten-1 white-text btn" %><br></br>
  <% end %>
</div>
