
<div id="left-col" class="col l4 m12 s12">
  <div class="row center-align">
    <%= render partial: 'general/main_office' %>
  </div>
</div>


<div id="right-col" class="col l8 m12 s12">
  <div class="center-align">
    <h3 class="yellow-title">Contact Us</h3>
      <% if @contacts.any? %>
        <div class="row">
          <% @contacts.each do |contact| %>
              <div class="col s12 m6 l6 margin-bottom">
                <div class="emphasize-text"><%= "#{contact.first_name} #{contact.last_name}" %></div>
                <div class="footer-text"><%= contact.title %></div>
                <div class="footer-text"><%= mail_to contact.email %></div>
                <div class="footer-text"><%=" ext: #{contact.ext}" %></div>
              </div>
              <% end %>
            </div>

        <% else %>
          <p>Sorry, no contacts to show.</p>
        <% end %>
      </div>
  </div>
