<h3 class="yellow-title center-align">Contact Us</h3>
<hr class="yellow-rule-sm">

  <div class="row center-align">
    <%= render partial: 'general/main_office' %>
  </div>


<hr class="yellow-rule-sm">

<h5 class="yellow-title center-align">Staff</h5>

  <div class="center-align">
      <% if @contacts.any? %>
        <div class="row">
          <% @contacts.each do |contact| %>
              <div class="col s12 m6 l6 margin-bottom">
                <div class="emphasize-text flow-text"><%= "#{contact.first_name} #{contact.last_name}" %></div>
                <div class="footer-text"><%= contact.title %></div>
                <div class="footer-text"><%= mail_to contact.email %></div>
                <div class="footer-text"><%=" ext: #{contact.ext}" %></div>
              </div>
              <% end %>
            </div>
        <% else %>
          <p>Sorry, no contacts to show.</p>
        <% end %>
      </div>
