
<div id="left-col" class="col l4">
  <%= render file: "/general/_logo" %>
  <h5>Main Office</h5>
  <div>Southern Kennebec Child<br>Development Corporation</div>
  <div>337 Maine Avenue</div>
  <div>Farmingdale, ME 04344</div><br>
  <div>Telephone: (207) 582-3110</div>
  <div>Toll Free: (800) 525-2229</div>
  <div>Fax (General): (207) 582-3112</div>
  <div>Fax (Operations):	(207) 582-3113</div>
</div>

<div id="right-col" class="col l6">
  <ul class="collection with-header">
    <li class="collection-header"><h4>Contact Us</h4></li>
      <% @contacts.each do |contact| %>
        <li class="collection-item">
          <div class="row">
          <div class='col l5'><%= "#{contact.first_name} #{contact.last_name}" %>
            <br><%= "#{contact.title}" %></div>
            <div class='col l5'><%= "#{contact.email}"%></div>
            <div class='col l2'><%=" ext: #{contact.ext}" %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
