<div id="left-col" class="col l4">
  <h5>Admin Account</h5>

</div>

<div id="right-col" class='col l6'>
  <h5>New Contact</h5>

  <%= form_for @contact do |f| %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name %>

    <%= f.label :email %>
    <%= f.text_field :email %>

    <%= f.label :phone %>
    <%= f.text_field :phone %>

    <%= f.label :ext %>
    <%= f.text_field :ext %>

    <%= f.submit %>
  <% end %>
</div>
