<div id="left-col" class="col l4">
  <h5>Admin Account</h5>

</div>

<div id="right-col" class='col l6'>
  <h5>New Post</h5>

  <%= form_for @post do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :content %>
    <%= f.text_area :content%><br></br>



    <%= f.submit "Publish Post"%>
  <% end %>
  <br></br>
</div>
