<div id="left-col" class="col l4 m4">
  <%= render file: "/general/_logo" %>

  <h5>Recent Updates</h5>
  <% @recent_posts.each do |post| %>
    <p><%= link_to post.title, post_path(post) %><p>
  <% end %>


</div>

<div id="right-col" class="col l6">
  <h3 class="center-align yellow-title"><%= @post.title %></h3>
  <div class="text-indent">
    <%= link_to @post.upload_attachment_file_name, @post.upload_attachment.url %>
    <p><%= sanitize @post.content %></p>
  </div>
  <p class="blue-grey-text text-lighten-3 demphasize-text"> posted on <%= @post.created_at.strftime("%B %d, %Y") %></p>
  <%= link_to "â— return to all posts", posts_path %>
</div>
